<a href="https://colab.research.google.com/github/DS3001/group19/blob/main/Project_2_Cleansing%2C_EDA%2C_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleansing Training & Testing Data

In [37]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('https://raw.githubusercontent.com/aniishap/group-19/main/project_2/data/testing_data.csv')
df_test = pd.read_csv('https://raw.githubusercontent.com/aniishap/group-19/main/project_2/data/training_data.csv')

In [38]:
df_train.isnull().sum() #  bmi column has a total of 42 missing values

Unnamed: 0            0
id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                  42
smoking_status        0
stroke                0
dtype: int64

In [39]:
df_test.isnull().sum() #  bmi column has a total of 159 missing values

Unnamed: 0             0
id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  159
smoking_status         0
stroke                 0
dtype: int64

In [40]:
# To avoid introducing bias, I am going to drop the NA values from the training and testing data sets instead of imputing averages for the bmi column
df_train.dropna(subset=['bmi'], inplace=True)
df_test.dropna(subset=['bmi'], inplace=True)
df_train.isnull().sum() # No more NA Values

Unnamed: 0           0
id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [41]:
df_test.isnull().sum() # No more NA values

Unnamed: 0           0
id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [42]:
# Drop 'Unnamed:0' and 'id' columns because they are not useful in our study
list=['Unnamed: 0', 'id']
df_train=df_train.drop(list,axis=1)
df_test=df_test.drop(list,axis=1)

In [43]:
unknown_count_train = (df_train['smoking_status'] == 'Unknown').sum()
print(unknown_count_train)
# Do we want to drop all 'Unknown' rows?
# There are only supposed to be 3 levels to this variable

288

In [44]:
unknown_count_test = (df_test['smoking_status'] == 'Unknown').sum()
print(unknown_count_test)

1195

In [45]:
# These are a lot of Unknown values, and it wouldn't make sense to drop all the rows.
# I think in this case, we can impute average values to replace 'Unknown' because
# smoking can be a big health influence on other factors. There could exist some
# response bias and cases where smoking info is deliberately not recorded, so
# to address that, we can infer the smoking status based on data from other
# variables

print(df_train)

      gender   age  hypertension  heart_disease ever_married      work_type  \
0       Male  58.0             1              0          Yes        Private
1     Female   8.0             0              0           No        Private
2     Female  70.0             0              0          Yes        Private
3     Female  47.0             0              0          Yes        Private
4     Female  74.0             1              0          Yes  Self-employed
...      ...   ...           ...            ...          ...            ...
1015  Female  48.0             0              0          Yes        Private
1016    Male  78.0             0              0          Yes  Self-employed
1019  Female  73.0             0              0          Yes  Self-employed
1020    Male  57.0             0              0          Yes        Private
1021  Female  75.0             0              0          Yes  Self-employed

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0             Urban              87.96  39.2     never smoked       0
1             Urban             110.89  17.6          Unknown       0
2             Rural              69.04  35.9  formerly smoked       0
3             Urban             210.95  50.1          Unknown       0
4             Urban             205.84  54.6     never smoked       0
...             ...                ...   ...              ...     ...
1015          Urban              74.11  20.5     never smoked       1
1016          Urban             116.10  27.1     never smoked       1
1019          Urban              70.94  34.4     never smoked       1
1020          Urban              86.30  31.7          Unknown       1
1021          Rural              78.80  29.3  formerly smoked       1

[981 rows x 11 columns]